/*get direction active-web*/
.get-direction {
  position: relative;
  height: 100%;
}
.get-direction .get_active {
  background-color: #15b4e5 !important;
}
.get-direction .get_active svg path {
  fill: #fff !important;
}
.get-direction .overlay_section {
  width: 100%;
}
.get-direction .search_section {
  padding-bottom: 0;
  margin-top: 103px;
  position: relative;
}
.get-direction .search_section .close_btn {
  width: 12px;
  height: 12px;
  position: absolute;
  right: 47px;
  top: 24px;
}
.get-direction .search_section .hr_line {
  margin-bottom: 55px;
  position: relative;
  top: 23px;
}
.get-direction .search_section .search_container {
  padding-bottom: 79px;
}
.get-direction .search_section .navigation_opt {
  gap: 11px;
  padding: 0 50px 35px;
}
.get-direction .search_section .navigation_opt .navigation_items {
  background-color: #fff;
  border: 1px solid #ECECEC;
  width: 74.81px;
  height: 75.5px;
  padding: 28px 23px;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.get-direction .search_section .option_select {
  padding: 0 68px;
  gap: 5px;
}
.get-direction .search_section .option_select .option_item {
  width: 70px;
  height: 65px;
  padding: 11px 16px;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #ECECEC;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.get-direction .search_section .option_select .option_item:nth-last-child(1) {
  padding: 11px 6px;
}
.get-direction .select_inp {
  padding: 14px 68px 0;
}
.get-direction .select_inp select {
  border: 1px solid #E3E2E2;
  padding: 16px 13px;
  font-size: 14px;
  color: #747474;
  margin-bottom: 20px;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 43px;
}
.get-direction .select_inp .get_submit {
  margin-bottom: 30px;
  display: inline-block;
}
.get-direction .select_inp .get_submit svg {
  width: 18px;
  height: 18px;
}
@media screen and (max-width: 400px) {
  .get-direction .overlay_section {
    width: 100%;
  }
  .get-direction .search_section {
    margin-top: 74px;
  }
  .get-direction .search_section .hr_line {
    position: relative;
    top: 23px;
    margin-bottom: 55px;
  }
  .get-direction .search_section .search_container {
    padding-bottom: 20px;
  }
  .get-direction .search_section select {
    margin-bottom: 20px;
    font-size: 12px;
  }
  .get-direction .search_section .navigation_opt .navigation_items {
    width: 60px;
    height: auto;
    padding: 10px;
  }
  .get-direction .search_section .option_select .option_item {
    height: auto;
    padding: 8px;
  }
  .get-direction .select_inp {
    padding: 14px 68px 0;
  }
  .get-direction .select_inp .get_submit {
    margin-bottom: 30px;
    display: inline-block;
  }
  .get-direction .select_inp .get_submit svg {
    width: 18px;
    height: 18px;
  }
}

/*navigate-updated*/
.navigate-2-web .search_section {
  padding-bottom: 52px;
}
.navigate-2-web .search_section .single_search {
  max-width: 346px;
  margin: 0 auto;
}
.navigate-2-web .search_section .single_search input {
  padding: 16px 43px 16px 13px !important;
}
.navigate-2-web .search_section .single_search img {
  width: 18.76px;
  height: 19.22px;
}
@media screen and (max-width: 350px) {
  .navigate-2-web .search_section .single_search {
    max-width: 250px;
  }
}

/*start screen */
.start_screen {
  height: 100%;
}
.start_screen .search_section {
  padding-bottom: 30px;
}
.start_screen .marker_point {
  width: 111px;
  height: 111px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.start_screen .marker_point::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #26BAE7;
  opacity: 0.2;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.start_screen .ongoing {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-bottom: 50px;
  padding: 0 50px;
}
.start_screen .ongoing .left {
  display: flex;
  justify-content: flex-start;
  width: 70%;
  gap: 20px;
}
.start_screen .ongoing .left .text h4 {
  color: #222222;
}
.start_screen .ongoing .left .text .time {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  color: #9093A3;
}
.start_screen .ongoing .left .text .time span {
  display: inline-block;
  font-size: 14px;
}
.start_screen .sharebtn {
  padding: 0 50px;
}
@media screen and (max-width: 400px) {
  .start_screen .ongoing .left {
    width: 80%;
    gap: 10px;
  }
  .start_screen .ongoing .left .text {
    gap: 10px;
  }
  .start_screen .ongoing .left .text .time span {
    font-size: 12px;
  }
}
@media screen and (max-width: 310px) {
  .start_screen .ongoing .left {
    width: 80%;
    gap: 5px;
  }
  .start_screen .ongoing .left .text h4 {
    font-size: 14px;
  }
  .start_screen .ongoing .left .text .time {
    gap: 4px;
  }
  .start_screen .ongoing .left .text .time span {
    font-size: 8px;
  }
}

.bodY {
  background-color: #f5f5f5;
}/*# sourceMappingURL=style.css.map */